<footer class="footer mt-5 h-auto text-base text-third-text-color relative border-t-2 border-t-border-color">
    <div class="info-container text-center" style="padding: 16px 0;">
        <div style="line-height:1.2;">
            &copy; <%= date(new Date(), 'YYYY' ) %> <a href="/">jicky</a> | All rights reserved.
        </div>
        <div style="line-height:1.2; margin-top: 8px;">
            Powered by <a href="/">jicky</a>
        </div>
        <div style="line-height:1.2; margin-top: 8px;">
            <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备16014739号-1</a>
        </div>
    </div>
</footer>